<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--   <servlet>
  		<servlet-name>OracleDriverLoader</servlet-name>
  		<servlet-class>com.jdbc.OracleDriverLoader01</servlet-class>
  		<load-on-startup>1</load-on-startup>
  </servlet> -->
 <servlet>
  		<servlet-name>OracleDriverLoader</servlet-name>
  		<servlet-class>com.jdbc.OracleDriverLoader02</servlet-class>
  		<load-on-startup>1</load-on-startup>
  </servlet> 
  
  
  <servlet>
  	<servlet-name>test01_Servlet</servlet-name>
  	<servlet-class>com.p01_Servlet.Test01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test01_Servlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>test02_Servlet</servlet-name>
  	<servlet-class>com.p01_Servlet.Test02_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test02_Servlet</servlet-name>
  	<url-pattern>/test02_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>test03_Servlet</servlet-name>
  	<servlet-class>com.p01_Servlet.Test03_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test03_Servlet</servlet-name>
  	<url-pattern>/test03_Servlet</url-pattern>
  </servlet-mapping>
  
  
  
<context-param>
	<description>설정값에 대한 설명(필수 요소 아님)</description>
	<param-name>ID</param-name>
	<param-value>NextIT</param-value>
</context-param>  
<context-param>
	<description>설정값에 대한 설명(필수 요소 아님)</description>
	<param-name>Subject</param-name>
	<param-value>JSP</param-value>
</context-param>    
  
<session-config>
	<!--분단위  -->
	<session-timeout>30</session-timeout>
	
	<!-- -1 은 무제한 -->
	<!-- <session-timeout>-1</session-timeout> -->
</session-config>
  
  
</web-app>

